<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Paaskecamp 2020</title>

  <link href="styles.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <div id="game">
    <h1>{{ headline }}</h1>
    <div id="container">
      <div class="character" :class="{ isRunning: hero.hSpeed !== 0, toLeft: hero.toLeft, isShooting: hero.shooting }"
        :id="hero.id" :style="{ left: hero.left + 'px', bottom: hero.bottom + 'px' }">
        <div class="health">
          {{ hero.health }}
        </div>
      </div>

      <div v-for="enemy in enemies" class="character purple"
        :class="{ isRunning: enemy.hSpeed !== 0, toLeft: enemy.toLeft, isShooting: enemy.shooting }" :id="enemy.id"
        :style="{ left: enemy.left + 'px', bottom: enemy.bottom + 'px' }">
        <div class="health">
          {{ enemy.health }}
        </div>
      </div>

      <div v-for="bullet in bullets" class="bullet" :style="{ left: bullet.left + 'px', bottom: bullet.bottom + 'px' }">
      </div>
    </div>
  </div>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
  <script src="script.js"></script>
</body>

</html>
